.box{
    height: 45px;
    width: 45px;
   
    padding: 45px;
    border: 2px solid gray;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}